/* styles.css */

/* Gaya umum untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #af4c8e;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #af4caa;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #a04545;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #af4ca7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
